{extend name="index/index" /}
{block name='main'}
	<div class="center-block" style='width: 980px;padding: 40px; background-color: #fff;border:1px solid #ccc'>
	<div class='row'>
		<div class='col-md-3 clearfix'>
			<img src="__IMG__/122.jpg" class="img-circle pull-left "  width=188px height=188px alt="">
		</div>
		<div class='col-md-9'>
			<ul class='list-unstyled clearfix ' style='font-size: 15px;'>
				<li class='pull-left' style='font-size: 22px;padding-right: 20px'>名字</li>
				<li class='pull-left'><span style='border:1px red solid;border-radius:50%;padding: 3px;color:red;'>LV. <b>5</b></span></li>
				<li class='pull-left' style='padding-left: 20px'>男</li>
				<li class='pull-right'><button class="btn btn-default">编辑个人资料</button></li>
			</ul>
			<ul class='list-unstyled clearfix'>
				<li class='pull-left' style='padding-right: 40px'><a href="" style='color:#666'><span style='font-size: 24px'>0</span><br><span style='font-size: 12px'>动态</span></a></li>
				<li class='pull-left' style='padding-right: 40px'><a href="" style='color:#666'><span style='font-size: 24px'>0</span><br><span style='font-size: 12px'>关注</span></a></li>
				<li class='pull-left' style='padding-right: 40px'><a href="" style='color:#666'><span style='font-size: 24px'>0</span><br><span style='font-size: 12px'>粉丝</span></a></li>
			</ul>
			
			<ul class='list-unstyled clearfix'>
				<li class='pull-left'>所在地区: xxx-xxx</li>
				<li class='pull-left'>年龄: xx后</li>
			</ul>
			<ul class='list-unstyled clearfix'>
				<li class='pull-left'>社交网络</li>
			</ul>
		</div>
		</div>
		<div class='clearfix' style='padding-top:20px;  '>
			<span style='font-size:25px;'>听歌排行</span> <span>累计听歌xxx首</span> 
			<span class='pull-right' style='cursor:pointer;'>所有时间</span>
			<span class='pull-right'>|</span>
			<span class='pull-right' style='font-weight: 700;cursor:pointer;'>最近一周</span>
		</div>
		<table class="table table-hover">
		<tr class='row show_hidden'>
			<td class='col-md-1'>1. <span class='glyphicon glyphicon-play' style=''></span></td>
			<td class='col-md-5' style='font-size: 16px;color:#333'>xxxxxx <span style='font-size: 16px;color:#aeaeae'>-xx</span></td>
			<td class='col-md-2'>
				<span class='glyphicon glyphicon-plus-sign' style='padding: 2px;'  title='添加到播放列表'></span>
				<span class='glyphicon glyphicon-folder-open' style='padding: 2px;' title='收藏'></span>
				<span class='glyphicon glyphicon-link' style='padding: 2px;' title='分享'></span>
				<span class='glyphicon glyphicon-download-alt' style='padding: 2px;' title='下载'></span>
			</td>
			<td class='col-md-4'>n次</td>
		</tr>
		</table>
		<span class='pull-right' style='cursor:pointer;'>查看更多</span>
		<div style='padding-top:40px '>
			<h3 style='border-bottom: 2px solid red;padding-bottom: 5px'>我创建的歌单(3)</h3>
			<div class="row">
				<div class=" col-md-3" style='cursor:pointer;'>
					<img src="__IMG__/123.png" alt="..."><br>
					<span>xxx喜欢的音乐</span>
				</div>
			</div>
		</div>
	</div>
{/block}

</html>